[submodule "freerouting"]
	path = freerouting
	url = https://github.com/freerouting/freerouting
[submodule "kicad_tools"]
	path = kicad_tools
	url = https://github.com/xtoolbox/kicad_tools
[submodule "kicad-action-scripts"]
	path = kicad-action-scripts
	url = https://github.com/jsreynaud/kicad-action-scripts
[submodule "KiCost"]
	path = KiCost
	url = https://github.com/hildogjr/KiCost
[submodule "kicad_scripts"]
	path = kicad_scripts
	url = https://github.com/NilujePerchut/kicad_scripts
